$fg-color: #{"@theme_fg_color"};
$bg-color: #{"@theme_bg_color"};

window.Bar {
  background: $bg-color;
  color: $fg-color;
  min-height: 32px;
  font-weight: bold;

  >.bar-row {
    min-width: 100%;
    display: flex;
  }

  .bar-left {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 20px;
    margin-left: 20px;
  }

  .bar-center {
    justify-content: center;
  }

  .bar-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}
