$fg-color: #{"@theme_fg_color"};
$bg-color: #{"@theme_bg_color"};

window.Bar {
  background: $bg-color;
  color: $fg-color;
  min-height: 32px;
  font-weight: bold;

  >.bar-row {
    min-width: 100%;
    display: flex;
    filter: blur(10px);
  }

  .bar-left {
    justify-content: flex-start;
  }

  .bar-center {
    justify-content: center;
  }

  .bar-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-left: 5px;
  }
}
