$fg-color: #{"@theme_fg_color"};
$bg-color: #{"@theme_bg_color"};

window.Bar {
  background: $bg-color;
  color: $fg-color;
  min-height: 32px;
  font-weight: bold;

  .bar-spacer,
  box#bar-spacer {
    min-width: 10px;
  }

  >.bar-row {
    min-width: 100%;
    display: flex;
  }

  .bar-left {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 20px;
    margin-left: 20px;
  }

  .bar-center {
    justify-content: center;
  }

  .bar-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .bar-btn,
  button#bar-btn {
    margin: 0 4px;
    padding: 4px 8px;
    border-radius: 6px;
  }
}
