* {
  font-size: 14px;
	font-family: "JetBrainsMono Nerd Font Mono";
}
window#waybar {
    border-bottom: 1px solid #181825;
    border-radius: 10px;
    background: alpha(@surface,1);
}

#mpris,
#clock,
#tray,
#battery,
#window,
#pulseaudio,
#backlight {
  background: transparent;
  padding: 0px 0px;
  border-radius: 6px;
  margin: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
}

#workspaces {

}

#workspaces button {
  padding: 0 5px;
  margin-right: 5px;
	margin-left: 5px;
  border-radius: 4px;
}

#workspaces button:hover {
  background-color: rgba(50, 50, 50, 0.5);
  color: #ffffff;
}

#workspaces button.active {
  background: #5e81ac;
}

#workspaces button.urgent {
  background-color: #fb4934;
  animation: urgentBlink 1s linear infinite alternate;
}

#clock{
  font-size: 15px;
}

#tray {
  margin-bottom: 5px;
}

#backlight {
  color: #8fbcbb;
}

#mpris{
	color: #8fbcbb;
	font-size: 23px;
  margin-bottom: 5px;
}

#pulseaudio {
  color: #88c0d0;
	margin-bottom: 5px
}

#battery {
  color: #81a1c1;
}

#custom-d {
    color: #4c566a;
    padding: 0 7px;
    margin: 2px 0px;
}


.modules-left,
.modules-right,
.modules-center {
  padding: 4px 0px;
}
