@import url("./colors/colors.css");

* {
  font-size: 14px;
	font-family: "JetBrainsMono Nerd Font Mono";
  min-height: 0;
}

window#waybar {
    border-bottom: 1px solid #181825;
    border-radius: 0px;
    background: transparent;
    background-color: alpha(@surface,1);;
}

#mpris,
#clock,
#tray,
#battery,
#window,
#pulseaudio,
#backlight {
  background: transparent;
  padding: 0px 0px;
  border-radius: 6px;
  margin: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  color: @on_primary_container;
}

#workspaces {

}

#workspaces button {
  padding: 0 5px;
  margin-right: 5px;
	margin-left: 5px;
  border-radius: 4px;
  color: @on_primary_container;
}
#workspaces button:hover {
  background-color: @primary;
  color: @on_tertiary_fixed;
}

#workspaces button.active {
  background: @primary_container;
  color: @on_surface;
}

#workspaces button.urgent {
  background-color: @error;
  animation: urgentBlink 1s linear infinite alternate;
}

#clock{
  font-size: 15px;
}

#tray {
  margin-bottom: 5px;
}

#mpris{
	font-size: 23px;
  margin-bottom: 5px;
}

#pulseaudio {
	margin-bottom: 5px
}

#battery {
}

#custom-d {
    padding: 0 7px;
    margin: 2px 0px;
}


.modules-left,
.modules-right,
.modules-center {
  padding: 4px 0px;
}
