@import url("./colors/colors.css");

* {
  font-size: 14px;
	font-family: "JetBrainsMono Nerd Font Mono";
}

window#waybar {
    border-bottom: 1px solid #181825;
    border-radius: 10px;
    background-color: alpha(@surface,1);
}

#mpris,
#clock,
#tray,
#battery,
#window,
#pulseaudio,
#backlight {
  background: transparent;
  padding: 0px 0px;
  border-radius: 6px;
  margin: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 14px;
}

#workspaces {
  margin-left: 5px; 
}

#workspaces button {
  padding: 0 5px;
  margin-right: 1px;
  margin: 2px;
  border-radius: 4px;
  color: @on_primary_container;
}

#workspaces button:hover {
  background-color: @primary;
  color: @on_tertiary_fixed;
}

#workspaces button.active {
  background: @primary_container;
  color: @surface;
}

#workspaces button.urgent {
  background-color: @error;
  animation: urgentBlink 1s linear infinite alternate;
}

#clock {
  font-size: 14.5px;
  color: @primary;
}

#tray {
  padding: 0px 4px;
}

#mpris {
  color: @primary;
	font-size: 18px;
  margin-right: 1px;
}

#pulseaudio {
    color: @secondary;
}

#pulseaudio.muted, #pulseaudio.source-muted {
  font-size: 20px;
}

#custom-d {
  color: @tertiary_container;  
  padding: 0 7px;
  margin: 2px 0px;
}

.modules-left,
.modules-right,
.modules-center {
  padding: 4px 0px;
}
