$border: 2px solid transparentize($text, 0.9);
$border-radius: 5px;
$rounded-lg: 10px;
$rounded-md: 8px;

window.popup {
  background-color: transparent;
  border: none;
  box-shadow: none;

  menu {
    background-color: $base;
    color: transparentize($text, 0.8);
    border-radius: $border-radius;
    padding: 4px;

    separator {
      background-color: $color00;
    }

    menuitem {
      color: transparentize($text, 0.3);
      margin-bottom: 4px;
      padding: 4px 0;
      padding-left: 0;
      border-radius: 4px;

      &:hover {
        color: $text;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

separator {
  background-color: transparent;
}

.fallback {
  color: $text-dimmed;
}

tooltip {
  background-color: $base;
  border: none;
}


scrollable {
  viewport {
    border: none;
  }
}

#alert {
  background: transparent;

  &>eventbox {
    background-color: transparentize($base, 0.6);
  }
}
